
input[type='submit'], button, [aria-label], .registerLink{
  cursor: pointer;
  background-color:gray;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
}


h2 {
  text-align: center;
  color: #4287f5;
  margin-top: 40px;
}
.toast-top-center {
top: 12px;
left:50%;
margin:0 0 0 -150px;
}

body{
  width: 80%;
  margin-right: 20%;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 10px;
}



.forminput {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
  
}

.dropdownList {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
}

label.validation-error{
  color:   red;
  margin-left: 5px;
}

a{
  cursor: pointer;
  text-decoration: underline;
  color: #0000ee;
  margin-right: 4px;
}
form div.form-action-buttons{
  text-align: right;
}

.container{
  width: 100%;
  border-inline-start-width: 100%;
}
.hide{
  display:none;
}